.main {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}
.about-section {
    margin-top: 90px;
    h3 {
        @include subtitle_font;
        margin-top: 0;
    }
}
.about-container {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 50px;
    @include navbar_font;
    .about-img-container {
        img {
            object-fit: cover;
            width: 200px;
            height: 250px;
        }
    }
    .about--details {
        display: flex;
        flex-direction: column;
        gap: 20px;
        p {
            @include body_font;
        }
    }
    .about-state {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap : 15px;
        @include body_font;
        .about-state-exact {
            color: $secondary-color;
            font-weight: 700;
            span {
                color: $primary-color;
                font-weight: 300;
            }
        }
        // .state--left { 
        //     grid-area: 1 / 1 / 2 / 2; 
        // }
        // .state--right { 
        //     grid-area: 1 / 2 / 2 / 3; 
        // }
    }
}