.main {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}
.about-section {
    h3 {
        font-family: $font;
        font-size: 4rem;
        font-weight: 400;
        color: $primary-color;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}
.about-container {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 50px;
    @include navbar_font;
    .about-img-container {
        img {
            object-fit: cover;
            width: 200px;
            height: 250px;
        }
    }
    .about-right {
        display: flex;
        flex-direction: column;
        gap: 20px;
        p {
            @include body_font;
        }
    }
}