$width : 390px;
$border-radius : 5px;
$background-color : #1c1c1c;

.contact-form-section {
    margin-top: 90px;
    margin-bottom: 90px;

    .contact-form--title {
        @include title_font;
        margin-top: 0;
    }
    .form-container {
        margin-top: 60px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        .form-input {
            height: 70px;
            width: $width;
            background-color: $background-color;
            // box-shadow: 8px 16px 32px 0px #191919;
            border-radius: $border-radius;
            input {
                
            }
            input:focus {
                outline: 3px solid $special-degradation;
            }
        }
        .form-textarea-container {
            background-color: $background-color;
            height: 150px;
            width: $width;
            border-radius: $border-radius;
            textarea {
                resize: none;
            }
            textarea:focus {
                outline: 3px solid $special-degradation;
            }
        }
        .form-button--submit {
            height: 50px;
            width: 150px;
            // background-color: #fff;
            outline: 3px solid $secondary-color;
            button {
                @include body_font;
                color: $secondary-color;
                width: 100%;
                height: 100%;
            }
        }
        .form-button--submit:hover {
            outline: 3px solid $special-degradation;
            button {
                color: $special-degradation;
            }
        }
    }
}