$primary-color: #fff;
$secondary-color : #30e892;
$primary-bg: #23272d;
$font: 'Inconsolata', monospace;

@mixin navbar_font {
    font-family: $font;
    font-size: 2rem;
    color: $primary-color;
}
@mixin title_font {
    font-family: $font;
    font-size: 5rem;
    color: $primary-color;
}
@mixin body_font {
    font-family: $font;
    font-size: 1.7rem;
    font-weight: 300;
    color: $primary-color;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-size: 62.5%;
    height: 100vh;
    background-color: $primary-bg;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}
