$primary-color: #fff;
$secondary-color : #30e892;
$primary-bg: #23272d;
$font: 'Inconsolata', monospace;
$special-degradation : #0e4028;

@mixin navbar_font {
    font-family: $font;
    font-size: 2rem;
    color: $primary-color;
}
@mixin title_font {
    font-family: $font;
    font-size: 5rem;
    color: $primary-color;
}
@mixin subtitle_font {
    font-family: $font;
    font-size: 4rem;
    font-weight: 500;
    color: $primary-color;
    margin-top: 75px;
    margin-bottom: 50px;
}
@mixin body_font {
    font-family: $font;
    font-size: 1.7rem;
    font-weight: 300;
    color: $primary-color;
}
@mixin button_letter {
    font-family: $font;
    font-size: 2rem;
    font-weight: 500;
}
@mixin button_size {
    cursor: pointer;
    height: 60px;
    width: 170px;
    margin-top: 20px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-size: 62.5%;
    height: 100vh;
    background-color: $primary-bg;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

.big-container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 100% 1fr;
    height: 100%;
    width: 100%;
}
