.header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;

    font-family: $font;
    font-size: 2rem;
    background-color: $primary-bg;
    &--logo {
        color: $primary-color;
    }
    nav .nav {
        display: flex;
        gap: 30px;
        .nav-item {
            a {
                color: $primary-color;
            }
        }
    }
}