.navbar-container {
    padding: 35px 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-family: $font;
    font-size: 2rem;
    color: $primary-color;

    background-color: $primary-bg;
    .logo {
        
    }
    .navbar--item-container {
        display: flex;
        gap: 30px;
        .navbar--item {
            a {
                color: $primary-color;
            }
            a:hover {
                color: $secondary-color;
                text-decoration: underline;
            }
        }
    }
}