.presentation-container {
    // padding: 40px 50px;
    font-size: 2rem;
    background-color: $primary-bg;
    color: $primary-color;
    
    &--left {
        .presentation-button--container {
            
        }
    }
    &--right {
    }
}
