.presentation-container {
    align-self: center;

    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 50px;

    padding: 40px 0;

    @include navbar_font;

    background-color: $primary-bg;
    
    .presentation--left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        h2 {
            @include title_font;
            .typed-text {
                color: $secondary-color;
            }
            .cursor {
                display: inline-block;
                width: 3px;
                background-color: #ccc;
                margin-left: .1px;
                opacity: 1;
                animation: blink 1s infinite;
            }
        }
        p {
            @include body_font;
        }
        .presentation-button--container {
            button {
                cursor: pointer;
                padding: 15px 20px;
                background-color: $secondary-color;
                font-family: $font;
                font-size: 2rem;
                font-weight: 500;
                color: #000;
            }
        }
    }
    .presentation--right  {
        img {
            object-fit: cover;
            border: 1px solid #000;
            border-radius: 50%;
            box-shadow: 8px 16px 32px 0px #000;
            height: 400px;
            width: 400px;
        }
        
    }
}

.media-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-content: center;
    gap: 30px;
    padding-bottom: 30px;
    .media-item {
        a {
            @include navbar_font;
            opacity: .5;
        }
        a:hover {
            text-decoration: underline;
        }
    }
}

@keyframes blink {
    0% { opacity: 1; }
    49% { opacity: 1; }
    50% { opacity: 0; }
    99% { opacity: 0; }
    100% { opacity: 1; }
}

