@import "./app/sass/general";
@import "./app/sass/header";
@import "./app/sass/navbar";
@import "./app/sass/presentation";
@import "./app/sass/button-animation";
@import "./app/sass/button-download";
@import "./app/sass/about";
@import "./app/sass/service";
@import "./app/sass/contact";
@import "./app/sass/responsive";